body {
    background-color: black;
}

h1 {
    color: white;
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
}

p {
    color: white;
}

div {
    text-align: center;
    background-color: black;
    width: 100%;
}

#imgage {
    border: 5px;
    border-color: white;
}